@using Horeca.Products
@using Horeca.Localization
@using Horeca.Blazor.Pages.Category;
@using Horeca.Utils
@using Volo.Abp.AspNetCore.Components.Web
@using Horeca.Blazor.Components;
@inherits HorecaComponentBase
@inject AbpBlazorMessageLocalizerHelper<HorecaResource> LH

<Card>
    <CardImage Source="https://dummyimage.com/284x206/000/fff"></CardImage>
    <CardBody>
        <Rating Color="Color.Primary" />
        <CardTitle Size="5">@Product.Name</CardTitle>
        <CardSubtitle>@Product.Manufacturer</CardSubtitle>
        <Row>
            <Column ColumnSize="ColumnSize.Is12">
                <Button class="button">@L["AddToBasket"]</Button>
            </Column>
        </Row>
    </CardBody>
</Card>

@code {
    [Parameter]
    public ProductDto Product{ get; set; }
}
