@page "/"
@using Volo.Abp.MultiTenancy
@inherits HorecaComponentBase
@inject ICurrentTenant CurrentTenant
@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="container">
    <section id="welcome">
        <div class="welcome__container">
        <div class="welcome__details">
            <div class="details__text">
            <h1>Бизнес теперь<br />Автоматизирован</h1>
            <p>
                Автоматизация бизнес процессов закупки, прием, поставки и
                документооборота объектов Horeca
            </p>
            </div>
            <div class="details__buttons">
            <button class="button">ОФОРМИТЬ ЗАКАЗ</button>
            @if ( !CurrentUser.IsAuthenticated )
            {
                <button class="button button_empty">@L["Login"]</button>
            }
            </div>
        </div>
        <div class="welcome__img">
            <img src="_content/img/anim-food.png" alt="welcome-image" />
        </div>
        </div>
    </section>
</div>
